<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>F4gDeveloperTools</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ModelSpy</display-name>
    <servlet-name>ModelSpy</servlet-name>
    <servlet-class>org.f4g.tools.modelspy.ModelSpy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModelSpy</servlet-name>
    <url-pattern>/ModelSpy</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommonsFileUploadServlet</display-name>
    <servlet-name>CommonsFileUploadServlet</servlet-name>
    <servlet-class>org.f4g.tools.upload.CommonsFileUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommonsFileUploadServlet</servlet-name>
    <url-pattern>/Upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PowerMeter</display-name>
    <servlet-name>PowerMeter</servlet-name>
    <servlet-class>org.f4g.tools.power.PowerMeter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PowerMeter</servlet-name>
    <url-pattern>/PowerMeter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServerState</display-name>
    <servlet-name>ServerState</servlet-name>
    <servlet-class>org.f4g.tools.simulation.ServerState</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServerState</servlet-name>
    <url-pattern>/ServerState</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HandleServerAction</display-name>
    <servlet-name>HandleServerAction</servlet-name>
    <servlet-class>org.f4g.tools.simulation.HandleServerAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HandleServerAction</servlet-name>
    <url-pattern>/HandleServerAction</url-pattern>
  </servlet-mapping>
</web-app>