
div.graph-frame {
  border: none;
}

div.graph-axis, div.graph-legend {
  border-color: gray;	
}

div.graph-axis-button {
  color: white;
  border-color: #BFBFBF;
  background-color: #BFBFBF;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.checkboxContainer{
	border: 1px solid gray;
	margin-left: 82px;
}
.checkBox{
	padding-left: 15px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.gwt-CheckBox{
	padding-left: 10px;
	}
