<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>ActionServlet</servlet-name>
    <servlet-class>org.f4g.gui.server.ActionServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ActionServlet</servlet-name>
    <url-pattern>/f4ggui/ActionService</url-pattern>
  </servlet-mapping>
  

  <servlet>
    <servlet-name>ConfigServlet</servlet-name>
    <servlet-class>org.f4g.gui.server.ConfigServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ConfigServlet</servlet-name>
    <url-pattern>/f4ggui/ConfigService</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>FetchServlet</servlet-name>
    <servlet-class>org.f4g.gui.server.FetchServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>FetchServlet</servlet-name>
    <url-pattern>/f4ggui/FetchService</url-pattern>
  </servlet-mapping>

  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>F4gGui.html</welcome-file>
  </welcome-file-list>

</web-app>
